<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Equity in Hollywood</title>
  </head>


  <body class="fa-sans"> 
     <nav class="navbar navbar-expand-lg bg-white py-1 fixed-top">
          <a class="navbar-brand" href="home.html">
            <img class="logo" src="logo.png" alt="Gender Equity in Hollywood">
            </a>
        </nav>

    <!-- The sidebar -->
      <div class="push">
         <div class="sidebar">
            <a class="active" href="home.html">Home</a>
            <a href="dashboard.html">Dashboard</a>
            <a class="nav-link dropdown-toggle" href="viz.html" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visualizations</a>
                      <div class="dropdown-menu dropdown-menu-right bg-dp" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="viz.html">Word Cloud</a>
                        <a class="dropdown-item" href="viz.html">Something</a>
                        <a class="dropdown-item" href="viz.html">Stuff</a>
                        <a class="dropdown-item" href="viz.html">Whatever</a>
                      </div>
            <a href="title_search.html">Title Search</a>
            <a href="resources.html">Resources</a>
        </div>

        <!-- Content -->
        <div class="content"> 
          <div class="row">
              <div class="jumbotron col-lg-11 mx-auto">
                  <div id="graph3">
                    <h2 class="pink">The Bechdel-Wallace Scale</h2>
                    <hr class="my-4 hr-o">
                    <p>The Bechdel Test is a measure of representation of women in fiction. It asks whether a work features at least two women who talk to each other about something other than a man. The test is used as an indicator for the active presence of women in the entire field of film and other fiction, and to call attention to gender inequality in fiction. It wasn’t until 2013 that media industry studies showed that films that pass the test financially outperform those who do not. These findings lead Hollywood to believe that the way to make more money might be to “put more women on screen”. 
                    </p>
                    <p>We decided to take this study into our own hands by analyzing film data from 1970 to 2013 to try and answer the following questions:
                      </p>
                    <ol ml-5>
                      <li>Have more films passed the Bechdel test over time?</li>
                        <li>Which genres dominate or under perform in passing the Bechdel test?</li>
                        <li>Is the American public interested in diverse Hollywood titles?</li>
                        <li>Are Hollywood filmmakers investing in movies that pass the Bechdel test?</li>
                      </ol>
                    <p class="lead purple">Let’s take a look! </p>
                  </div>
              </div>
          </div>
          </div>
        </div>
  </body>

  <footer class="py-3">
      <div class="container">
        <p class="m-0 text-center"> Copyright &copy; 2019 Denise McKinley. All rights reserved.</p>
      </div>
    </footer>

</html>