<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Equity in Hollywood</title>
  </head>


  <body> 
      <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand h1" href="home.html"> Gender Equity in Hollywood </a>
        </nav>

    <!-- The sidebar -->
    <div class="sidebar bg-dark">
        <a class="active" href="home2.html"><strong>Dashboard</strong></a>
        <a class="nav-link dropdown-toggle" href="viz.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Visualizations</strong></a>
                  <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="viz.html">Word Cloud</a>
                    <a class="dropdown-item" href="viz.html">Something</a>
                    <a class="dropdown-item" href="viz.html">Stuff</a>
                    <a class="dropdown-item" href="viz.html">Whatever</a>
                  </div>
        <a href="title_search.html"><strong>Title Search</strong></a>
        <a class="nav-link dropdown-toggle" href="resources.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Resources</strong></a>
                  <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="resources.html">ETL Report</a>
                    <a class="dropdown-item" href="resources.html">Process Summary</a>
                    <a class="dropdown-item" href="resources.html">The Team</a>
                  </div>
    </div>
      
    <!-- Page content -->
    <div class="content">
        <h1>Viz Title</h1>
        <div id="viz1">
        </div>
        <h3>Analysis or Metadata</h3>
        <p>analysis summary and/or relevant metadata goes here</p>
      </div>

  </body>

  <footer class="py-3">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Denise McKinley 2019</p>
    </div>
  </footer>
</html>